.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../img/img-5.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.text-box{
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 40px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #ffda6a;
}
.btn{
    background-color: #ffda6a;
}

.nav-link{
}

a:hover.btn{
    background-color: #ffc107;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-content: center;
}