{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<section class="header" id="top">
    <div class="text-box">
        <h1 class="h1">zsxrdmkl</h1>
        <p class="text">azsxdrctfvgbhnjmok,l</p>
    </div>
</section>
<div class="container">
    <section class="m-5 p-5" id="aboutUs">
        <div class="pt-5 pb-5">
            <div class="row justify-content-center">
                <div class="about">
                    <h1 class="h1"><strong>About us</strong></h1>
                    <h4 class="h4">
                        An internationally renowned chef with several Nishlen stars, Bordon Ransey has opened a number of successful restaurants around the world, from the UK and France to Singapore and the United States. The very first of which was the "Retro" restaurant.
                    </h4>
                </div>
            </div>
        </div>
    </section>

    <section class="gallery" id="gallery">
        <div class="pt-5 pb-5 justify-content-center">
            <h1 class="h1"><strong>Gallery</strong></h1>
            <div class="row mt-4">
                <div class="item-img сol-12 col-md-6 col-lg-3">
                    <img src="{% static 'img/features1.jpg' %}" alt="">
                </div>
                <div class="item-img сol-12 col-md-6 col-lg-3">
                    <img src="{% static 'img/features2.jpg'%}" alt="">
                </div>
                <div class="item-img сol-12 col-md-6 col-lg-3">
                    <img src="{% static 'img/features3.jpg'%}" alt="">
                </div>
                <div class="item-img сol-12 col-md-6 col-lg-3">
                    <img src="{% static 'img/features4.jpg'%}" alt="" title="">
                </div>
            </div>
        </div>
    </section>

    <section class="team" id="team">
        <div class="pt-5 pb-5">
            <h1 class="h1 m-5 p-5"><strong>Преподаватели</strong></h1>
            <div class="row">
                <div class="col-4">
                    <img src="{% static 'img/team1.jpg'%}" alt="">
                    <h3><strong>John Smith</strong></h3>
                    <h5><strong>Фитнес-тренер</strong></h5>
                    <p>No special actions required, all sites you make with Mobirise are mobile-friendly.</p>
                </div>
                <div class="col-4">
                    <img src="{% static 'img/team2.jpg'%}" alt="">
                    <h3><strong>Sarah Palmer</strong></h3>
                    <h5><strong>Мастер-спорта</strong></h5>
                    <p>Use Mobirise website building software to create multiple sites for your clients.</p>
                </div>
                <div class="col-4">
                    <img src="{% static 'img/team3.jpg'%}" alt="">
                    <h3><strong>Jessica Swift</strong></h3>
                    <h5><strong>КМС по боксу</strong></h5>
                    <p>Create multiple pages. Don't forget to set links to your pages after creating them.</p>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}