{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<section class="container mt-5 mb-5 p-5 step">
    <div class="col mt-5 mb-5">
        <form method="POST" action="{% url 'home' %}">
            <div class="card">
                <div class="card-header text-center">Клиент</div>
                <div class="card-body">
                    {% csrf_token %}
                    <div class="form-floating mb-1">
                        <input type="text" class="form-control" id="client_login">
                        <label for="client_login">Login</label>
                    </div>
                    <div class="form-floating mb-1">
                        <input type="password" class="form-control" id="client_password">
                        <label for="client_password">Password</label>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="{% url 'client' user.id %}" type="submit" class="btn btn-primary">Sign in</a>
                </div>
            </div>
        </form>
    </div>
    <div class="text-center m-5 p-5 login">
        <a href="{% url 'register' %}" class="lead text-center">Ещё не зарегестрированы?! Тогда вам сюда.</a>
    </div>
</section>
{% endblock %}