{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<div class="month mt-5">
    <ul>
        <li class="h1 step">Расписание занятий<br><span class="h3">2021</span></li>
    </ul>
</div>

<div class="container step step2" id="calendar">
    <ul class="weekdays bg-dark">
        <li class="h3">Mo</li>
        <li class="h3">Tu</li>
        <li class="h3">We</li>
        <li class="h3">Th</li>
        <li class="h3">Fr</li>
        <li class="h3">Sa</li>
        <li class="h3">Su</li>
    </ul>

    <ul class="days bg-light">
        <li class="h5">1</li>
        <li class="h5">2</li>
        <li class="h5">3</li>
        <li class="h5">4</li>
        <li class="h5">5</li>
        <li class="h5">6</li>
        <li class="h5">7</li>
        <li class="h5">8</li>
        <li class="h5">9</li>
        <li class="h5"><span class="active">10</span></li>
        <li class="h5">11</li>
        <li class="h5">12</li>
        <li class="h5">13</li>
        <li class="h5">14</li>
        <li class="h5">15</li>
        <li class="h5">16</li>
        <li class="h5">17</li>
        <li class="h5">18</li>
        <li class="h5">19</li>
        <li class="h5">20</li>
        <li class="h5">21</li>
        <li class="h5">22</li>
        <li class="h5">23</li>
        <li class="h5">24</li>
        <li class="h5">25</li>
        <li class="h5">26</li>
        <li class="h5">27</li>
        <li class="h5">28</li>
        <li class="h5">29</li>
        <li class="h5">30</li>
        <li class="h5">31</li>
    </ul>

</div>
{% endblock %}