{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<div class="container m-sm-auto">
    <section class="row align-items-center step">
        <div class="col-sm-12 col-md-6 col-sm-12">
            <div class="item-img">
                <img src="{% static 'img/team3.jpg'%}" alt="Mobirise">
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-sm-12">
            <div class="text-wrapper">
                <h1 class="col">{{user.Name}}</h1>
                <h3 class="h3">Дата рождения</h3>
                <span id="birthdate" class="">{{user.Birthdate}}</span>
                <h3 class="h3">Документ об образовании</h3>
                <span id="passport" class="">{{user.Education_certificate}}</span>
                <h3 class="h3">Профессия</h3>
                <span id="phone" class="">{{user.Profession}}</span>
                <h3 class="h3">Домашний адрес</h3>
                <span id="email" class="">{{user.Home}}</span>
            </div>
        </div>
    </section>

    <section id="style" class="row step mb-5">
        <h1 class="h1 text-center mb-5">Танцевальные направления</h1>
        {% for st in styles %}
        <div class="card m-sm-auto сol-sm-12 col-md-6 col-lg-3">
            <h4 class="card-header">{{st.Name}}</h4>
            <div class="card-body">
                <p>{{st.Description}}</p>
                <p>{{st.TrainerID}}</p>
            </div>
        </div>
        {% endfor %}
    </section>

    <section id="timetable" class="row align-content-center step">
        <h1 class="h1 text-center mb-5">Расписание</h1>
        {% for les in lessons %}
        <div class="step step2">
            <div class="card m-sm-auto сol-sm-12 col-md-6 col-lg-5">
                <div class="card-header text-center">
                    <h3 class="h3">{{les.Style.Name}}</h3>
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>{{les.Weekday}}</p>
                        <footer class="blockquote-footer">{{les.Time}}</footer>
                    </blockquote>
                </div>
            </div>
        </div>
        {% endfor %}
</div>
{% endblock %}